<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{?Y:PageTitle?} - Powered by YAMS</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script type="text/javascript" src="/assets/js/jquery-1.7.min.js"></script>
		<script type="text/javascript" src="/assets/js/public.js"></script>

		<!-- Le styles -->
		<link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
		html {
			overflow-y: scroll;
		}
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
		
		footer {
			margin-top: 40px;
			border-top: 1px solid #CECECE;
			padding-top: 20px;
		}
    </style>
		<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			<div class="row">
				
				<div class="span3">
					<div class="well"><h1>YAMS</h1></div>
					<div class="well" style="max-width: 340px; padding: 8px 0;">
						<ul class="nav nav-list">
							<li><a href="/"><i class="icon-home"></i> YAMS Home</a></li>
							<li><a href="/servers/"><i class="icon-globe"></i> Worlds Page</a></li>
							<li class="nav-header">Worlds</li>
							<li class="active"><a href="/servers/1/">Choccyworld</a></li>
							<li><a href="/servers/2/">Experiland</a></li>
							<li><a href="/servers/3/">Kempoworld</a></li>
							{?Y:ServerList?}
						</ul>
					</div>
				</div>
				<div class="span8">
					<!-- Main hero unit for a primary marketing message or call to action -->
					<div class="page-header">
						<h1>{?Y:PageTitle?} <small>{?Y:ServerConnectAddress?}</small></h1>
					</div>
					
					<div class="alert alert-info" id="status-alert"><strong>Checking {?Y:PageTitle?}&hellip;</strong>
						<span id="status-players"></span>
					</div>
					
					<p>{?Y:PageBody?}</p>
					
					<div class="row" style="margin-top: 20px">
						<div class="span4">
							<h3>Players Online</h3>
							{?Y:PlayersOnline?}
						</div>
						<div class="span3 offset1">
							<h3>Backups</h3>
							{?Y:BackupList?}
						</div>
					</div>

					<!-- Example row of columns -->
					<div class="row" style="margin-top: 20px">
						<div class="span4">
							<h3>Map</h3>
							{?Y:RenderOverviewer?}
						</div>
						<div class="span3 offset1">
							<h3>Images</h3>
							{?Y:RenderImages?}
						</div>
						
					</div>
					
					<div class="row">
						<iframe class="span8" style="height: 400px" src="renders/overviewer/output/index.html"></iframe>
					</div>
					<footer>
						<p>This Minecraft server is powered by <a href="http://yams.in">YAMS, the easy way to run a Minecraft server on Windows.</a></p>
					</footer>
				</div>
			</div>
		</div> <!-- /container -->
	</body>
</html>
